.node
  .employee-profile
    %strong.employee-name
      = member[:name]
    %em.employee-title
      = member[:link]
- if member[:children].any?
  .tree
    %ul
      - member[:children].each do |child|
        %li
          = partial "team_member", locals: { member: child }
