:markdown

  The [Edge Team](/handbook/edge) Lead is responsible for leading the various
  initiatives that relate to improving GitLab through community contributions
  and other external projects.

  The Edge Lead reports to the VP of Engineering.
