:markdown

  ## Requirements

  * Experience writing production-level applications in Go
  * Experience with managing large amounts of telemetry
  * Experience developing time-series databases
  * You have contributions in the [Prometheus open source project](https://github.com/prometheus)
